<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<% if (accountType === 'shelter') { %>
		<div>
			Shelters
			<!-- form for shelters to sign up -->
		</div>
	<% } %>
	<% if (accountType === 'adopter') { %>
		<div>
			Adopters
			<!-- form for adopters to sign up -->
		</div>
	<% } %>
	<% if (accountType != 'shelter' && accountType != 'adopter') { %>
		<div>
			button to sign up as shelter
		</div>
		<div>
			button to sign up as adopter
		</div>
	<% } %>
</body>
</html>