<head>
	<title>adopt-a-bull</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/global.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/landing.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.shelters.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.adopters.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/list.shelters.css">
</head>