<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>
	<section class="main">
		adopt-a-bull is an app that connects users with ador-a-bull, adopt-a-bull pitbulls.
	</section>
	<% include log-in.ejs %>
	<% include partials/footer.ejs %>	
</body>
</html>