<div class="form-sign-up">
	<div class="form-input">
		<label>account type:</label>
		<div class="radio-button-bar">
			<div class="radio-button-wrapper">
				<input type="radio" class="radio-button" id="user-type-shelter" name="user-type" value="shelter" required/>
				<label for="user-type-shelter" class="radio-button-label radio-button-label-left">Shelter</label>
			</div>
			<div class="radio-button-wrapper">
				<input type="radio" class="radio-button" id="user-type-adopter" name="user-type" value="adopter" required/>
				<label for="user-type-adopter" class="radio-button-label radio-button-label-right">Adopter</label>
			</div>
		</div>
	</div>
	<button type="submit" class="button">Create Account</button>
</div>