<p class="section-header">your adopt-a-bull puppies</p>
<div class="puppies">
	<a class="puppy-container">
		<img src="/images/demo-pups/smudge.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Smudge</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
	<a class="puppy-container">
		<img src="/images/demo-pups/gus.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Gus</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
	<a class="puppy-container">
		<img src="/images/demo-pups/rhino.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Rhino</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
	<a class="puppy-container">
		<img src="/images/demo-pups/moo.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Moo</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
	<a class="puppy-container">
		<img src="/images/demo-pups/peach.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Peach</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
	<a class="puppy-container">
		<img src="/images/demo-pups/luna.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Luna</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
	<a class="puppy-container">
		<img src="/images/demo-pups/pebbles.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Pebbles</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
	<a class="puppy-container">
		<img src="/images/demo-pups/teddybear.jpg" class="puppy-thumbnail" />
		<div class="puppy-info">
			<p class="puppy-name">Teddybear</p>
			<i class="material-icons puppy-icon">edit</i>
		</div>
	</a>
</div>