<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>
	<div class="main-container">
		<% if(userType == 'shelter'){ %>
			<% include list.shelters.ejs %>
			<% include main.shelters.ejs %>
		<% } else{ %>
			<% include list.adopters.ejs %>
			<% include main.adopters.ejs %>
		<% } %>
		<% include settings.ejs %>
	</div>
	<% include partials/footer.ejs %>
</body>
</html>