<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>
		<% include main.shelters.ejs %>
		<!-- <% include main.adopters.ejs %> -->
	<% include partials/footer.ejs %>
</body>
</html>