<section class="main js-main-adopters">
	<div class="main-inner">
		<div class="puppy-card">
		</div>
		<div class="bottom-nav">
			<a class="icon-wrapper next">
				<i class="material-icons icon-next">close</i>
			</a>
			<a class="icon-wrapper mail">
				<i class="material-icons icon-mail">mail_outline</i>
			</a>
			<a class="icon-wrapper favorite">
				<i class="material-icons icon-favorite" data-pId="">favorite_outline</i>
			</a>
		</div>
	</div>
</section>