<div class="main-container">
	<aside class="list">
		<div class="fix">
			<% include list.shelters.ejs %>
		</div>
	</aside>
	<section class="main">
		<div>
			<button type="submit" class="">Add Puppy</button>
		</div>
	</section>
	<% include settings.ejs %>
</div>