<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
	<% include partials/header.ejs %>
	<div class="main-container">
		<!-- 
		<% include list.shelters.ejs %>
		<% include main.shelters.ejs %>
		<% include settings.shelters.ejs %>
		 -->
		
 		<% include list.adopters.ejs %>
		<% include main.adopters.ejs %>
		<% include settings.adopters.ejs %>
		
	</div>
	<% include partials/footer.ejs %>
</body>
</html>