<section class="main">
	<div class="main-inner">
		<% include puppy-card-collapsed.ejs %>
		<!-- <% include puppy-card-expanded.ejs %> -->
		<div class="bottom-nav">
			<div class="icon-wrapper">
				<i class="material-icons icon-next">close</i>
			</div>
			<div class="icon-wrapper">
				<i class="material-icons icon-mail">mail_outline</i>
			</div>
			<div class="icon-wrapper">
				<i class="material-icons icon-favorite" data-pId="">favorite_outline</i>
			</div>
		</div>
	</div>
</section>