<p class="section-header section-header-main">discover puppies</p>
<div class="discovery-wrapper">
<!-- 	<div class="puppy-card">
		<div class="puppy-card-container">
			<img src="/images/demo-pups/smudge.jpg" class="puppy-card-thumbnail" />
			<div class="puppy-card-info">
				<p class="puppy-card-name">Smudge</p>
				<i class="material-icons puppy-card-icon">info</i>
			</div>
		</div>

			<div class="puppy-card-expanded">
				<p class="name">Rhino</p>
				<p class="gender">male</p>
				<p class="age">senior</p>
				<p class="size">XL</p>
				<p class="training">well trained</p>
				<p class="characteristics">house broken, neutered/spayed, vaccinated, micro-chipped, special needs</p>
				<p class="compatibility">apartments, kids</p>
				<p class="biography">Rhino is a sweet pup. He's just about 10 years old. He loves face kisses, snuggles, and naps. He loves people, especially kids.</p>
				<p class="adoption-fee">$500</p>
				<div class="shelter-info">
					<p class="name">MSPCA Boston</p>
					<p class="address">350 South Huntington Avenue</p>
					<p class="address">Boston, MA 02130</p>
					<p class="telephone">617-522-5055</p>
					<p class="email">adoption@mspca.org</p>
				</div>
			</div>


	</div> -->
</div>