<p class="section-header section-header-main">discover puppies</p>
<div class="discovery-wrapper">
	<div class="puppy-card">
		<div class="puppy-card-container" data-puppyId="<%currentPuppy._id%>">
			<img src="<%currentPuppy.photo%>" class="puppy-card-thumbnail" />
			<div class="puppy-card-info">
				<p class="puppy-card-name"><%currentPuppy.name%></p>
				<i class="material-icons puppy-card-icon">info</i>
			</div>
		</div>
	</div>
</div>