<p class="section-header section-header-main">discover puppies</p>
<div class="discovery-wrapper">
	<div class="puppy-card">
		<a class="puppy-card-container">
			<img src="/images/demo-pups/smudge.jpg" class="puppy-card-thumbnail" />
			<div class="puppy-card-info">
				<p class="puppy-card-name">Smudge</p>
				<i class="material-icons puppy-card-icon">info</i>
			</div>
		</a>
	</div>
</div>