<div class="puppy-card">
	<div class="puppy-card-container" data-puppyId="<%currentPuppy._id%>">
		<img src="<%currentPuppy.photo%>" class="puppy-card-thumbnail" />
		<div class="puppy-card-info">
			<p class="puppy-card-name"><%currentPuppy.name%></p>
			<i class="material-icons puppy-card-icon">cancel</i>
		</div>
		<div class="puppy-card-expanded">
			<p class="name"><%currentPuppy.name%></p>
			<p class="gender"><%currentPuppy.gender%></p>
			<p class="age"><%currentPuppy.age%></p>
			<p class="size"><%currentPuppy.size%></p>
			<p class="training"><%currentPuppy.training%></p>
			<p class="characteristics"><%currentPuppy.characteristics%></p>
			<p class="compatibility"><%currentPuppy.compatibility%></p>
			<p class="biography"><%currentPuppy.biography%></p>
			<p class="adoption-fee"><%currentPuppy.adoption-fee%></p>
			<div class="shelter-info">
				<p class="name"><%currentPuppy.shelter.name%></p>
				<p class="address"><%currentPuppy.shelter.address.number%> <%currentPuppy.shelter.address.street%></p>
				<p class="address"><%currentPuppy.shelter.address.city%>, <%currentPuppy.shelter.address.state%> <%currentPuppy.shelter.address.zipcode%></p>
				<p class="telephone"><%currentPuppy.shelter.telephone%></p>
				<p class="email"><%currentPuppy.shelter.email%></p>
			</div>
		</div>
	</div>
</div>