<div class="form-input">
	<label>location</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>maximum distance</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>gender</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>age</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>size</label>
	<input type="text"/>
</div>