<aside class="settings">
	<p class="section-header">settings</p>
	<div class="discovery">
		<p>discovery settings</p>
		<i class="material-icons">edit</i>
		<p>location</p>
		<p>maximum distance</p>
		<p>gender</p>
		<p>age</p>
		<p>size</p>
	</div>
	<div>
		<p>account settings</p>
		<p>log out</p>
		<p>reset password</p>
		<p>delete account</p>
	</div>
</aside>