<div class="form-input">
	<label>Shelter Name</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>Address</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>City</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>State</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>Zip</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>Phone Number</label>
	<input type="text"/>
</div>
<div class="form-input">
	<label>Email Address</label>
	<input type="text"/>
</div>