<aside class="settings">
	<p class="section-header">settings</p>
		<% include settings.shelters.ejs %>
		<!-- <% include settings.adopters.ejs %> -->
		<% include partials/settings.common.ejs %>
</aside>